/.gradle
/.idea
/out
/build
.kotlin
*.iml
*.ipr
*.iws
mediaLibrary
downloads
userConfig
cache.map
migrations
.gradle
remote_install
deploy.sh
dockerPush.sh
analytics.sqlite
*.xd
*.cq4
local.properties
xd.lck
*.cq4t
*.hprof
backend/.idea
**/.DS_Store
.DS_Store
node_modules
playground
database
**/build/
